root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
max_line_length = 100

[*.py]
indent_size = 4

[*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,html,css,scss}]
indent_size = 2

[*.toml]
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

[*.{md,mdx}]
trim_trailing_whitespace = false  # markdown uses trailing-2-spaces for line breaks
